doctype html

html
  head
    title Task Manager
    script(src='/assets/vendor.js')
    script(src='/assets/app.js')
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')

  body
    nav.navbar.navbar-toggleable-md.navbar-inverse.fixed-top.bg-inverse
      button.navbar-toggler.navbar-toggler-right(data-toggle='collapse', data-target='#mainMenu', aria-controls='mainMenu', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      a.navbar-brand(href="#") navbar
      #mainMenu.collapse.navbar-collapse(aria-expanded='false')
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link item
          li.nav-item
            a.nav-link item
          li.nav-item
            a.nav-link item
          li.nav-item
            a.nav-link item
        ul.navbar-nav
          if isSignedIn()
            li.nav-item
              a.navbar-brand.my-2.my-lg-0(href="#") #{userID}
            li.nav-item
              a.navbar-brand.my-2.my-lg-0(href=urlFor('session') data-method='delete' rel='nofollow') log out
          else
            a.navbar-brand.my-2.my-lg-0(href="#") not logged in

    .container
      block contents