extends /layouts/application.pug

block contents
  p user list
  table.table.table-stripped
    thead
      tr
        th Id
        th Full Name
        th Email
        th Created At
        th profile
    tbody
      each user in users
        tr
          td= user.id
          td= user.fullName
          td= user.email
          td= user.createdAt
          td
            a(href='/users/' + user.id) profile
