extends /layouts/application.pug

block contents
  +formFor(f, { url: urlFor('usersCreate'), method: 'post' })
    +input(f, 'email')
    +input(f, 'alias')
    +input(f, 'firstname')
    +input(f, 'lastname')
    +input(f, 'password', '', { as: 'password' })
    +button(f)
